*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(233, 233, 233);
    /* overflow-y: hidden; */
}
button {
    border: none;
    background-color: rgb(245, 243, 243);
}

button:hover {
    background-color: rgb(207, 203, 203);
}

#main {
    height: 100vh;
    color: rgb(197, 196, 196);
    display: grid;
    grid-template-rows: 1fr 3fr;
    filter: blur(0px)
}

#history {
    height: 100vh;
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: auto;
    position: relative;
}

#delete-history-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
}

#history > span {
    border-bottom: 3px solid blue;
}

#history-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

#history-output {
    color: gray;
}

#history-result {
    font-size: 1.5em;
    color: black;
}

#history-list > li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#nav {
    display: flex;
    height: 20%;
    justify-content: space-between;
    padding: 10px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}
.menu-line {
    height: 1px;
    width: 20px;
    background-color: black;
}

#menu, #history-btn {
    background-color: rgb(233, 233, 233);
}

#history-btn {
    visibility: hidden;
}

#history-btn:hover {
    background-color: rgb(154, 206, 207);
}

#nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
#nav-left > span {
    color: black;
    font-weight: 600;
    font-size: 1.2em;
}


#printed {
    position: relative;
    height: 80%;
}

#expressions {
    position: absolute;
    flex-direction: column;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-right: 20px;
}

#expression {
    font-size: 1em;
    color: gray;
}

#expression-result {
    font-size: 10vh;
    color: black;
}

#functions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    
}

#functions button {
    font-size: 25px;
}
#calculate {
    background-color: rgb(154, 206, 207);
    font-size: 35px !important;
}

.division, .addition {
    font-size: 35px !important;
}

#calculate:hover {
    background-color: cadetblue;
}

.two-number-operation {
    font-size: large;
}

.number {
    font-weight: bold;
}
.number, .white {
    background-color: white;
}

@media only screen and (max-width: 800px){

    body {
        grid-template-columns: 1fr;
        position: relative;
        height:100vh;
    }

    #history {
        display: none;
        bottom: 0px;
        position: absolute;
        width: 100vw;
        height:80vh;
        background-color: rgba(138, 43, 226, 0.7);
        transition: opacity ease-out 100ms; 
        color: white
    }

    #history-btn {
        visibility: visible;
    }

    #history-output {
        color: black;
    }
    
    #history-result {
        font-size: 1.5em;
        color: white;
    }
}

@media only screen and (min-width: 801px){
    #history {
        display: block !important;
    }
}